.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.todo {
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
}

.btns {
    margin-bottom: 10px;
}

.btn {
    border: none;
    height: 30px;
    border-radius: 15px;
    width: 150px;
    cursor: pointer;
    opacity: 0.5;
}

.btn-red {
    background-color: rgb(238, 151, 151);
}

.btn-green {
    background-color: rgb(157, 228, 157);
}

.btn-blue {
    background-color: rgb(202, 202, 255);
}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#loader .lds-hourglass {
    position: fixed;
    top: calc(50% - 40px);
    left: calc(50% - 40px)
}

.show {
    display: block !important;
}

.selected {
    opacity: 1;
}